
div.attribute {
	font-size: 80%; padding-left: 10px;
}

div.item-outer {
	float:left; 
	background-color:#F8F8F8; 
	border-radius: 10px; 
	width:340px; 
	margin: 5px; padding: 9px; 
	box-shadow: 4px 4px 8px 0px #AAA;
}

span.overall-score {
	float:right; 
	width: 40px; height:20px; padding-top: 0px; 
	border-radius: 5px; 
	text-align:center; 
	font-size: normal;
	font-weight: bold; 
}

span.score {
	float:right; 
	width: 50px; 
	border-radius: 5px; 
	text-align:center; 
}

div.round span, div.round, span.round {
	border-radius: 5px; 
	padding: 0px 4px;
	margin-bottom:0px;
}


/* Social */

div.accountConnection {
	margin: 10px;
	width: 600px;
	background-color: #ffffff;
	border: 1px solid #006600;
}

div.accountConnection h4 {
	margin-top: 0;
	background-color: #efefef;
}

div.accountConnection h4 img {
	vertical-align: middle;
}
